# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Django
staticfiles/
media/
*.log

# Environment
.env
*.env

# Node
node_modules/
npm-debug.log*

# Next.js
frontend/.next/
frontend/out/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Config
.config/
